<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCY3EkA9sPlM55Ga1vimusR10nlHtrnmLI</string>
	<key>GCM_SENDER_ID</key>
	<string>234349664555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheus.chat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-49640</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-49640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234349664555:ios:7f2c43c8add7d138610d6e</string>
</dict>
</plist>